---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/marine.ashx?format=json&key=50fae3e9dbcb4ae7ade15757190701&q=32.051544,-81.063702&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Wwo-Qpd-Left:
      - '499'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 32.05 and Lon -81.06"}],"weather":[{"date":"2019-01-06","astronomy":[{"sunrise":"07:26
        AM","sunset":"05:35 PM","moonrise":"07:49 AM","moonset":"06:16 PM","moon_phase":"New
        Moon","moon_illumination":"0"}],"maxtempC":"17","maxtempF":"62","mintempC":"14","mintempF":"56","hourly":[{"time":"0","tempC":"14","tempF":"57","windspeedMiles":"19","windspeedKmph":"31","winddirDegree":"292","winddir16Point":"WNW","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"precipMM":"0.0","humidity":"64","visibility":"10","pressure":"1019","cloudcover":"0","HeatIndexC":"14","HeatIndexF":"57","DewPointC":"7","DewPointF":"45","WindChillC":"12","WindChillF":"54","WindGustMiles":"26","WindGustKmph":"42","FeelsLikeC":"12","FeelsLikeF":"54","sigHeight_m":"0.8","swellHeight_m":"0.2","swellHeight_ft":"0.7","swellDir":"130","swellDir16Point":"SE","swellPeriod_secs":"7.7","waterTemp_C":"15","waterTemp_F":"59"},{"time":"100","tempC":"14","tempF":"57","windspeedMiles":"19","windspeedKmph":"30","winddirDegree":"297","winddir16Point":"WNW","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"precipMM":"0.0","humidity":"66","visibility":"10","pressure":"1019","cloudcover":"0","HeatIndexC":"14","HeatIndexF":"57","DewPointC":"8","DewPointF":"46","WindChillC":"12","WindChillF":"54[...]
