---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/marine.ashx?format=json&key=4ab5a1c031a44789b1a184952180511&q=32.051544,-81.063702&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Wwo-Qpd-Left:
      - '497'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 32.05 and Lon -81.06"}],"weather":[{"date":"2018-11-06","astronomy":[{"sunrise":"06:45
        AM","sunset":"05:30 PM","moonrise":"05:32 AM","moonset":"05:16 PM","moon_phase":"Waning
        Crescent","moon_illumination":"14"}],"maxtempC":"24","maxtempF":"76","mintempC":"24","mintempF":"75","hourly":[{"time":"0","tempC":"24","tempF":"75","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"165","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.1","humidity":"91","visibility":"10","pressure":"1018","cloudcover":"32","HeatIndexC":"26","HeatIndexF":"79","DewPointC":"22","DewPointF":"72","WindChillC":"24","WindChillF":"75","WindGustMiles":"27","WindGustKmph":"43","FeelsLikeC":"26","FeelsLikeF":"79","sigHeight_m":"0.8","swellHeight_m":"0.7","swellHeight_ft":"2.3","swellDir":"120","swellDir16Point":"ESE","swellPeriod_secs":"6.5","waterTemp_C":"23","waterTemp_F":"73"},{"time":"100","tempC":"24","tempF":"75","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"168","winddir16Point":"SSE","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"precipMM":"0.1","humidity":"91","visibility":"10","pressure":"1017","cloudcover":"29","HeatIndexC":"26","HeatIndexF":"79","DewPointC":"22","DewPointF":"72","WindChillC":"24","WindChillF":"7[...]
