/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.navbar {
  background-color: #2a52be;
}

.search-card {
  background-color: #2a52be;
}

.search-overflow {
  overflow-y: scroll;
}

.navbar > h1 {
  color: white;
}

link {
  color: white;
}

.table-height {
  max-height: 500px;
}

.has-more-padding {
  padding-left: 120px;
}

.sign-in-padding {
  padding-left: 450px;
}

.white-title-shadow {
  color: white;
  text-shadow: 2px 2px #000000;
}
.white-title {
  color: white;
}

.columns.is-centered {
    justify-content: center;
}

.bg-img {
  background-image: url("https://www.lifewire.com/thmb/rod_R7ijXb_LPsOduQLiRPVnu8c=/1920x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/wave-free-ocean-wallpapers-desktopnexus-58d93da75f9b584683958ad2.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
